<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhc.test.dao.UserDao">
    <resultMap id="user" type="com.zhc.test.entity.User">
        <id column="nick_name" property="nickName"/>
    </resultMap>

    <select id="findUserById"  resultMap="user">
        select * from user where id=#{id};
    </select>
</mapper>